<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('signup_done_page') }}" method="get">
        <p><input type="text" name="signup_name" placeholder="성명(필수)" required></p>
        <p><input type="text" name="signup_id" placeholder="아이디(필수)" required></p>
        <p><input type="password" name="signup_password" placeholder="비밀번호(필수)" required></p>
        <p><input type="email" name="signup_email" placeholder="이메일(필수)" required></p>
        <br>
        <input type="submit" value="제출하기" onclick="alert('작성해 주신 아이디와 비밀번호로 로그인해주시길 바랍니다.')">
</body>
</html>